<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>吕培松</title>
</head>
<body>
<h1>辛勤の劳动者う学泰最后の良心垃圾葬送者傻杯吕培松です</h1>
{#<img src="{{ STATIC_URL }}image/lvpeisong.jpg" alt="吕培松" width="1279" height="1706">#}
<img src="{{ STATIC_URL }}image/lvpeisong1.jpg" alt="吕培松" width="1279" height="1706">
<footer><p>访问者ip：{{client_ip}}</p></footer>
</body>
</html>